<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.UserManage.dao.UserTagsMapper">
  <resultMap id="BaseResultMap" type="com.UserManage.pojo.UserTags">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="tagid" jdbcType="INTEGER" property="tagid" />
    <result column="tagcontent" jdbcType="VARCHAR" property="tagcontent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, tagid, tagcontent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_tags
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_tags
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.UserManage.pojo.UserTags">
    insert into user_tags (id, userid, tagid, 
      tagcontent)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{tagid,jdbcType=INTEGER}, 
      #{tagcontent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.UserManage.pojo.UserTags">
    insert into user_tags
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="tagid != null">
        tagid,
      </if>
      <if test="tagcontent != null">
        tagcontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="tagid != null">
        #{tagid,jdbcType=INTEGER},
      </if>
      <if test="tagcontent != null">
        #{tagcontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.UserManage.pojo.UserTags">
    update user_tags
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="tagid != null">
        tagid = #{tagid,jdbcType=INTEGER},
      </if>
      <if test="tagcontent != null">
        tagcontent = #{tagcontent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.UserManage.pojo.UserTags">
    update user_tags
    set userid = #{userid,jdbcType=VARCHAR},
      tagid = #{tagid,jdbcType=INTEGER},
      tagcontent = #{tagcontent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectMyTags" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_tags
    where userid = #{username,jdbcType=VARCHAR}
  </select>

  <select id="selectMyExistedTags" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_tags
    where userid = #{userid,jdbcType=VARCHAR} and tagid = #{tagid,jdbcType=INTEGER}

  </select>
</mapper>