<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CourseManage.dao.CourseEvaluateMapper">
  <resultMap id="BaseResultMap" type="com.CourseManage.pojo.CourseEvaluate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="courseid" jdbcType="INTEGER" property="courseid" />
    <result column="score1" jdbcType="INTEGER" property="score1" />
    <result column="score2" jdbcType="INTEGER" property="score2" />
    <result column="score3" jdbcType="INTEGER" property="score3" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, courseid, score1, score2, score3, score, comment, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_evaluate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_evaluate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CourseManage.pojo.CourseEvaluate">
    insert into course_evaluate (id, userid, courseid, 
      score1, score2, score3, 
      score, comment, time
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{courseid,jdbcType=INTEGER}, 
      #{score1,jdbcType=INTEGER}, #{score2,jdbcType=INTEGER}, #{score3,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.CourseManage.pojo.CourseEvaluate">
    insert into course_evaluate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="courseid != null">
        courseid,
      </if>
      <if test="score1 != null">
        score1,
      </if>
      <if test="score2 != null">
        score2,
      </if>
      <if test="score3 != null">
        score3,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="score1 != null">
        #{score1,jdbcType=INTEGER},
      </if>
      <if test="score2 != null">
        #{score2,jdbcType=INTEGER},
      </if>
      <if test="score3 != null">
        #{score3,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CourseManage.pojo.CourseEvaluate">
    update course_evaluate
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null">
        courseid = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="score1 != null">
        score1 = #{score1,jdbcType=INTEGER},
      </if>
      <if test="score2 != null">
        score2 = #{score2,jdbcType=INTEGER},
      </if>
      <if test="score3 != null">
        score3 = #{score3,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CourseManage.pojo.CourseEvaluate">
    update course_evaluate
    set userid = #{userid,jdbcType=VARCHAR},
      courseid = #{courseid,jdbcType=INTEGER},
      score1 = #{score1,jdbcType=INTEGER},
      score2 = #{score2,jdbcType=INTEGER},
      score3 = #{score3,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPage" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course_evaluate
    where courseid = #{courseid,jdbcType=INTEGER}
    <if test="start!=null and size!=null">
      limit #{start},#{size}
    </if>
  </select>

  <select id="selectCount" parameterType="java.lang.Integer" resultType="int">
    select
      count(*)
    from course_evaluate
    where courseid = #{courseid,jdbcType=INTEGER}
  </select>
</mapper>